body
{
	background-image:url('homebg.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
             
}
.icon-bar {
  width: 270px; /* Full-width */
  overflow: auto; /* Overflow due to float */
  margin-bottom: 0px;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
 /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}
#cross
{font-size: 100px;
 color:pink;
 font-family: 'Forte',Comic Sans MS;
 text-shadow:5px 5px 10px black;}

#welcome
{text-shadow:5px 5px 10px red;
 font-size: 80px;
 color:orchid;
 font-family: 'Aharoni',Comic Sans MS;}
table
{
     padding: 10px;
     margin-left: 10px;
     margin-right: 10px;
     width: 99%;
     height: 90%;
 }
#cell1
{
	background-position: center;
	background-repeat: no-repeat;
               background-size: 325px 225px;
}
#cell2
{
	background-repeat: no-repeat;
	background-position: center;
               
}
#cell3
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 325px 225px;
}
#cell4
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 325px 225px;
}
#cell5
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 325px 225px;
}
a:hover
{
	background-size:125%;
}
#heading
{
    background-color: darkslategray;
    height: 10%;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    width:100%;
    animation-name: example;
    animation-duration: 4s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
@keyframes example {
  50%   {background-color:dimgray; left:0px; top:0px;}
  100%  {background-color:gray; left:200px; top:0px;}
 }
#h
{
	text-align: center;
	color:white;
}
p.serif {
  font-family: "Harlow Solid Italic", Times, serif;
  color:whitesmoke;
  text-align: center;
  font-size: 25px;
}
p.font
{
	font-size: 40px;
	color:white;
}
.navbar {
  width: 100%;
  background-color: cornsilk;
  overflow: auto;
  margin-top: 0px;
  font-family:"Britain Sans FB",Comic Sans MS,serif;
  font-weight:900;
  animation: myAnimation 12s linear 1s 1 forwards;
}
@keyframes myAnimation {
  33% {
    background-color: navajowhite;
  }
  66% {
    background-color: mistyrose;
  }
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: lightgreen;
}

/* Current/active navbar link */
.active {
  background-color: lightblue;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* Button used to open the contact form */
.open-button {
  background-color: lightgray;
  color: black;
  padding:10px 10px;
  border: none;
  cursor: pointer;
  opacity: 1.5;
  position: fixed;
  top: 8px;
  right: 10px;
  width: 200px;
  font-size: 20px;
  font-family:"Britain Sans FB",Comic Sans MS,serif;
  font-weight:900;
  width:20%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position:absolute;
  bottom: 50px;
  left: 50px;
  top: 50px;
  right: 50px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 40%;
  padding: 10px;
  position:absolute;
  bottom: 50px;
  left: 450px;
  top: 50px;
  right: 80px;
  background-color: lightseagreen;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  border: none;
  background: lightyellow;
  font-size: 12px;
  font-family:"Britain Sans FB",Comic Sans MS,serif;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: papayawhip;
  outline: none;
}

/* Set a style for the text area */
.form-container textarea {
  background-color: lightyellow;
  color: black;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 45%;
  font-size: 12px;
  font-family:"Britain Sans FB",Comic Sans MS,serif;
  
}
/* When the text area get focus, do something */
.form-container text area{
  background-color: papayawhip;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: navy;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#myForm
{font-size: 16px;
 font-family:"Britain Sans FB",Comic Sans MS,serif;
  color:black;}

